
body
{
	line-height: 1.6em;
}

#task-list-table
{
	font-family: "Verdana", "Geneva", Sans-Serif;
	font-size: 12px;
	margin-top: 45px;
	margin-left: 45px;
	width: 700px;
	text-align: left;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-collapse: collapse;
}
#task-list-table td:nth-child(2)
{
	width:570px;
}
#task-list-table td:nth-child(3)
{
	text-align: right;
	width:100px;
}
#task-list-table td:nth-child(4)
{
	width:20px;
}
#task-list-table td:nth-child(1)
{
	width:10px;
}
.normal td
{
	padding: 2px;
	/*background: #e8edff;*/
	border-bottom: 1px solid #F2F2F2;
	color: #669;
	/*border-top: 1px solid transparent;*/
}
.normal tr:hover
{
	/*background: #ffffcc;*/
	background: #e8eef7;
	/*background: #d0dafd;*/
	color: #339;
}

.selected-row td
{
	background: #e8eef7;
}

.past-header td
{
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	background: #F5D0A9; 
	/*border-bottom: 1px solid #fff;*/
	color: #669;
	/*border-top: 1px solid transparent;*/
}

.today-header td
{
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	background: #CEF6CE; 
	/*border-bottom: 1px solid #fff;*/
	color: #669;
	border-top: 1px solid transparent;
}
.tomorrow-header td
{
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	background: #F2F5A9; 
	/*border-bottom: 1px solid #fff;*/
	color: #669;
	border-top: 1px solid transparent;
}
.future-header td
{
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	background: #E0E0F8; 
	/*border-bottom: 1px solid #fff;*/
	color: #669;
	border-top: 1px solid transparent;
}
.bottom td
{
	font-size: 1px;
	padding: 1px;
	background: #FFFFFF; 
}

#task-list-div {
    display: inline-block;
}

#task-detail-div {
    display: inline-block;
    vertical-align: top;
	font-family: "Verdana", "Geneva", Sans-Serif;
	font-size: 12px;
	margin-top: 45px;
	margin-right: 45px;
	margin-left: 20px;
	width: 400px;
	text-align: left;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-collapse: collapse;
}