
body
{
	line-height: 1.6em;
}

#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 700px;
	text-align: left;
	border-collapse: collapse;
}
#box-table-a td:nth-child(2)
{
	width:550px;
}
#box-table-a td:nth-child(1)
{
	width:30px;
}
.normal td
{
	padding: 2px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
.normal tr:hover td
{
	background: #d0dafd;
	color: #339;
}
.past-header
{
	font-size: 13px;
	font-weight: bold;
	padding: 8px;
	background: #FE9A2E; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
.today-header
{
	font-size: 13px;
	font-weight: bold;
	padding: 8px;
	background: #00FF00; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
.tomorrow-header
{
	font-size: 13px;
	font-weight: bold;
	padding: 8px;
	background: #FFFF00; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
.future-header
{
	font-size: 13px;
	font-weight: bold;
	padding: 8px;
	background: #A9A9F5; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
