<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Task List</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}tasklist_style.css">
        <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/tasklist.js"></script>
    </head>

    <form>
        {% csrf_token %}
        <table id="box-table-a" name="box-table-a">
            <tbody class="past-header">
                <tr>
                    <td/>
                    <td colspan="3">Past</td>
                </tr>
            </tbody>
            <tbody class="normal">
        {% for task in list_past %}
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>{{ task.task }}</td>
                    <td>{{ task.getFriendlyDate }}</td>
                    <td/>
                </tr>
        {% endfor %}
            </tbody>
            <tbody class="today-header">
                <tr>
                    <td/>
                    <td colspan="3">Today</td>
                </tr>
            </tbody>
            <tbody class="normal">
        {% for task in list_today %}
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>{{ task.task }}</td>
                    <td>{{ task.next_date }}</td>
                    <td/>
                </tr>
        {% endfor %}
            </tbody>
            <tbody class="tomorrow-header">
                <tr>
                    <td/>
                    <td colspan="3">Tomorrow</td>
                </tr>
            </tbody>
            <tbody class="normal">
        {% for task in list_tomorrow %}
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>{{ task.task }}</td>
                    <td>{{ task.next_date }}</td>
                    <td/>
                </tr>
        {% endfor %}
            </tbody>
            <tbody class="future-header">
                <tr>
                    <td/>
                    <td colspan="3">Future and No Date</td>
                </tr>
            </tbody>
            <tbody class="normal">
        {% for task in list_future %}
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>{{ task.task }}</td>
                    <td>{{ task.next_date }}</td>
                    <td/>
                </tr>
        {% endfor %}
            </tbody>
            <tbody class="normal">
        {% for task in list_nodate %}
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>{{ task.task }}</td>
                    <td></td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </form>
</html>