<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Task List</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}tasklist_style.css">
        <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/tasklist.js"></script>
    </head>

    <script>
    var taskListData = new Object();
    {% for task in list %}
    taskListData[{{ task.id }}] = new Object();
    taskListData[{{ task.id }}].task = '{{ task.task }}';
    taskListData[{{ task.id }}].category = '{{ task.category }}';
    taskListData[{{ task.id }}].store = '{{ task.store }}';
    taskListData[{{ task.id }}].next_date = '{{ task.next_date }}';
    taskListData[{{ task.id }}].start_date = '{{ task.start_date }}';
    taskListData[{{ task.id }}].reminder = '{{ task.custom_reminder_in_hours }}';
    taskListData[{{ task.id }}].frequency = '{{ task.frequency }}';
    taskListData[{{ task.id }}].end_date = '{{ task.end_date }}';
    taskListData[{{ task.id }}].instances = '{{ task.instances_to_stop_after }}';
    taskListData[{{ task.id }}].repeat_after_previous_done = '{{ task.repeat_after_previous_done }}';
    {% endfor %}
    </script>

    <form>
        {% csrf_token %}
        <div id="task-list-div">
        <table id="task-list-table" name="task-list-table">
            <tbody class="past-header">
                <tr>
                    <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Past</td>
                </tr>
            </tbody>
            <tbody class="normal">
        {% for task in list_past %}
                <tr>
                    <td><input name="selectedId" value="{{ task.id }}" type="checkbox"/></td>
                    <td>{{ task.task }}</td>
                    <td>{{ task.getFriendlyDate }}</td>
                    <td/>
                </tr>
        {% endfor %}
            </tbody>
            <tbody class="today-header">
                <tr>
                    <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Today</td>
                </tr>
            </tbody>
            <tbody class="normal">
        {% for task in list_today %}
                <tr>
                    <td><input name="selectedId" value="{{ task.id }}" type="checkbox"/></td>
                    <td>{{ task.task }}</td>
                    <td>{{ task.getFriendlyDate }}</td>
                    <td/>
                </tr>
        {% endfor %}
            </tbody>
            <tbody class="tomorrow-header">
                <tr>
                    <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tomorrow</td>
                </tr>
            </tbody>
            <tbody class="normal">
        {% for task in list_tomorrow %}
                <tr>
                    <td><input name="selectedId" value="{{ task.id }}" type="checkbox"/></td>
                    <td>{{ task.task }}</td>
                    <td>{{ task.getFriendlyDate }}</td>
                    <td/>
                </tr>
        {% endfor %}
            </tbody>
            <tbody class="future-header">
                <tr>
                    <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Future and No Date</td>
                </tr>
            </tbody>
            <tbody class="normal">
        {% for task in list_future %}
                <tr>
                    <td><input name="selectedId" value="{{ task.id }}" type="checkbox"/></td>
                    <td>{{ task.task }}</td>
                    <td>{{ task.getFriendlyDate }}</td>
                    <td/>
                </tr>
        {% endfor %}
            </tbody>
            <tbody class="normal">
        {% for task in list_nodate %}
                <tr>
                    <td><input name="selectedId" value="{{ task.id }}" type="checkbox"/></td>
                    <td>{{ task.task }}</td>
                    <td></td>
                    <td></td>
                </tr>
        {% endfor %}
            </tbody>
            <!-- add another row so that black border is showin -->
            <tbody class="bottom">
                <tr>
                    <td colspan="4"></td>
                </tr>
            </tbody>
        </table>
        </div>
        <div id="task-detail-div">
        </div>
    </form>
</html>