{% load staticfiles %}
<link href="{{ STATIC_URL }}getjoblist/styles.css" rel="stylesheet" type="text/css" />

<form method="post">
		
	<div class="paginate pag2 clearfix">
		<span class="single">Page {{ joblist.number }} of {{ joblist.paginator.num_pages }}</span>
        {% if joblist.has_previous %}
		<span><a href="?page={{ joblist.previous_page_number }}">prev</a></span> 
        {% endif %}

        {% if joblist.has_next %}
		<span><a href="?page={{ joblist.next_page_number }}">next</a></span>
        {% endif %}

        <span><a href="..\..\">home</a></span>
	</div>	
	
	{% csrf_token %}
	<input type="hidden" name="idToSave" id="idToSave"/>
	<input type="hidden" name="idToUnSave" id="idToUnSave"/>
	
	<table id="joblisttable">
		<thead>
			<tr>
				<th scope="col" class="rounded-left"></th>
				<th>Title</th>
				<th>Company</th>
				<th>City</th>
				<th>First Posted</th>
				<th scope="col" class="rounded-right">Last Posted</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="5" class="rounded-foot-left"></td>
				<td class="rounded-foot-right"></td>
			</tr>
		</tfoot>
	{% if joblist %}
	    {% for job in joblist %}
	    	{% if forloop.counter|divisibleby:2 %}
    	<tr class="odd">
    		{% else %}
    	<tr>
    		{% endif %}

	        {% ifequal job.Saved  1 %}
	        <td><label onclick="document.getElementById('idToSave').value=0; document.getElementById('idToUnSave').value = {{ job.Id }}; form.submit()" style="border:10;cursor:pointer;color:#FFA500"><font size="2">&#9733;</font></label></td>
	        {% else %}
	        <td><label onclick="document.getElementById('idToSave').value={{ job.Id }}; document.getElementById('idToUnSave').value = 0; form.submit()" style="border:10;cursor:pointer;"><font size="2">&#9733;</font></label></td>
	        {% endifequal %}
	        <!--
	        {% if forloop.counter|divisibleby:2 %}
	    	<td><img src="{{ STATIC_URL }}getjoblist/star-unsaved-blue.png"/></td>
	    	{% else %}
	    	<td><img src="{{ STATIC_URL }}getjoblist/star-unsaved-white.png"/></td>
	    	{% endif %}
	    	-->
	       <td><a href="http://dice.com/{{ job.JobLink }}/">{{ job.Title }}</a></td>
	        <td>{{ job.CompanyName }}</td>
	        <td>{{ job.City }}</td>
	        <td>{{ job.OriginalDatePosted }}</td>
	        <td>{{ job.LastDatePosted }}</td>
	    </tr>
	    {% endfor %}
	{% endif %}
	</table>

	<div class="paginate pag2 clearfix">
		<span class="single">Page {{ joblist.number }} of {{ joblist.paginator.num_pages }}</span>
        {% if joblist.has_previous %}
		<span><a href="?page={{ joblist.previous_page_number }}">prev</a></span> 
        {% endif %}

        {% if joblist.has_next %}
		<span><a href="?page={{ joblist.next_page_number }}">next</a></span>
        {% endif %}

        <span><a href="..\..\">home</a></span>
	</div>	
</form>