<div class="pagination">
    <span class="step-links">
        {% if joblist.has_previous %}
            <a href="?page={{ joblist.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ joblist.number }} of {{ joblist.paginator.num_pages }}.
        </span>

        {% if joblist.has_next %}
            <a href="?page={{ joblist.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<table border="1">
	<thead>
		<tr>
			<th>Title</th>
			<th>Company</th>
			<th>City</th>
			<th>First Posted</th>
			<th>Last Posted</th>
			<th>Last Updated</th>
		</tr>
	</thead>
{% if joblist %}
    {% for job in joblist %}
    <tr>
        <td><a href="http://dice.com/{{ job.JobLink }}/">{{ job.Title }}</a></td>
        <td>{{ job.CompanyName }}</td>
        <td>{{ job.City }}</td>
        <td>{{ job.OriginalDatePosted }}</td>
        <td>{{ job.LastDatePosted }}</td>
        <td>{{ job.LastUpdate }}</td>
    </tr>
    {% endfor %}
{% endif %}
</table>